---
layout: layout
title: Tips
---

{% include nav.html param="web" %}

<div class="container">
	<div class="blog-header">
	<h1>Helpful tips (hopefully)</h1>
	<p class="lead blog-description">
	    These are posts I wrote after completing a task taht I had lots of 
        blocking moment or hard time figuring out WTH was going on. I can refer to 
        them later if I need to do that task again. Hopefully they would be useful 
        to others as well.
	</p>
	</div>

	{% include post_list.html param = site.categories.tips %}
</div>
