<div class="py2 post-footer">
  <img src="/assets/img/me.png" alt="Dominic St-Pierre" class="avatar" />
  <p>
    I'm not going to speak of me at the 3rd person. I'm a software developer passionate about
    creating web apps and self-funded one person SaaS. I'm the CTO at <a href="http://leadfuze.com">LeadFuze</a>
    and I create technical screencasts in French at <a href="https://focuscentric.com">Focus Centric</a>.
  </p>
  <p>
    Follow me <a href="https://twitter.com/dominicstpierre">@dominicstpierre</a>.
  </p>
</div>
