---
layout: layout
title: "GitHub"
---

<div class="home">
	<h1>Awesome GitHub</h1>
	<p class="lead blog-description">
		Open source is important, and GitHub makes it nice and awesome to
		contribute.
	</p>
	<div class="posts">
		{% for post in paginator.posts %}
		<div class="post">
			<a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
				<p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
				<h3 class="h2 post-title">{{ post.title }}</h3>
				<p class="post-summary">{{ post.summary }}</p>
			</a>
		</div>
		{% endfor %}
	</div>

	{% include pagination.html %}
</div>
