---
layout: layout
---

<section class="main post non-narrow zero-top-spacing">
        <div class="container">
            <div class="content">
                <div class="front-matter">
                    <div class="title-container">
                        <h1 class="page-heading">{{ page.title }}</h1>
    
                        <div class="initials"><a href="https://dominicstpierre.com"></a></div>
                    </div>
                    <div class="meta">
                        
                        <div class="date" title="{{ page.date }}">{{ page.date | date_to_string }}</div>
                        
                        
                <div class="reading-time"><div class="middot"></div></div>
                        
                    </div>
                </div>
                <div class="markdown">
                    {{ content }}

                        <br>
                
                        <p class="back-to-posts"><a href="/blog">Back to posts</a></p>
                    </div>
                    <br>
                    
                </div>
            </div>
        </section>

